@import '../imports/scss/shared.scss';
.row {
  margin-bottom: 1%;
}


body{
  min-height: 509px;
}

.cursor-p {
  cursor: pointer;
}

.foto-perfil{
  border-radius: 10%;
  box-shadow: 0px 0px 6px 1px #e4e3e3;
  max-height: 200px;
   
    max-width: 200px;
  height: auto;
  width: 100%;
}


button.btn.btn-primary {
  background: #38f094!important;
  border-color: #49ffa4;
}