<div class="container room-alumno card">


    <div class="card-body">
        <h2 class="bd-title">
            Consulta profesor 
        </h2>
        <div *ngIf="isEstadoIni()">
            Iniciando...
        </div>
        <div  *ngIf="isEstadoSelProf()">

            <div class="row" >
                <div class="col-sm-12" *ngFor="let prof of profesores | async">
                  <div class="card">
                    <div class="card-body">
                        <div class="row col-sm">

                            <div class="col-sm-8">
                                <img [src]="prof.profile.foto" id="foto" alt="Foto perfil" height="100" width="auto">

                            </div>

                            <div class="col-sm-4">
                                <span >
                                        <i class="material-icons iconos" data-toggle="modal" (click)="setModalConfig(prof)" data-target="#m-confirm" style="cursor: pointer" > 
                                                call
                                        </i>
                                         
                                </span>
                            </div>
                        </div>
                        <div  class="row col-sm">
                            <h4 class="card-title">
                             
                                  {{prof.profile.nombre + " " + prof.profile.apellidos}}
                              
                            </h4>

                        </div>
                      <p class="card-text">Profesor Matematicas </p>
                      <!--
                          <a href="#" class="btn btn-primary">Go somewhere</a>

                      -->
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <div *ngIf="isEstadoCalling()">
            <h3>
                Llamando : Profesor NOMBRE
            </h3>

            <div class="row">
                <div class="col-sm">
                    CONTADOR
                </div>
                <div class="col-sm">
                    
                    <button class="btn btn-primary" (click)="cancelarCall()"> Cancelar llamada</button>
                </div>
            </div>
        </div>
        
        <div  [hidden]="!isEstadoClass()">
            <div class="row">
               <h3>
                   En clase.
               </h3>
            </div>
            <div class="row">
                <!--
                    muted
                -->
                <div class="row">
                    <video id="{{remoteVideoId}}" autoplay></video>

                </div>
                <div class="row">

                    <video id="{{localVideoId}}"   autoplay ></video>
                </div>
                <div class="row">
                        <div class="col-sm">
                            CONTADOR
                        </div>
                        <div class="col-sm">
                            
                            <button class="btn btn-primary" (click)="colgarCall()"> Colgar</button>
                        </div>
                    </div>

            </div>
            
            
       </div>
    </div>
</div>


  