.room-alumno i.material-icons.iconos:hover {
    background: #f1f1f1;
}

.room-alumno i.material-icons.iconos{
    
    font-size: 60px;
    color: green;
    border-radius: 10%;
}

.room-alumno{

    span.alert.alert-danger.float-right {
        font-size: 10pt;
    }
}