<div class=" room-alumno padding-pag">
    

  
        <h2 class="bd-title text-center">
            Consulta profesor 
            <span *ngIf="isEstadoSelProf() || isEstadoClass()" title="Configurar dispositivos de Video/Audio" class="material-icons float-right" style="cursor: pointer;font-size: 1.5vw;color: #63b36a;" (click)="openModalDeviceIOConfig()">
                settings
                </span>
        </h2>
        <div *ngIf="isEstadoIni()">
            Iniciando...
        </div>

        <div  *ngIf="isEstadoSelProf()">
            <div class="row">
                <div class="col-sm-12">

                    <!--
                        
                    -->
                    <categorias [generarInput]="!!true" [select]="selectedTag" (onAdd)="findProf()" [config]="configTags"></categorias>  

                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12" *ngFor="let prof of profesores | async">
                  <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-3">
                                <img class="foto-perfil" [src]="prof.profile.foto" id="foto" alt="Foto perfil"  >

                            </div>

                            <div class="col-5">
                               <strong>Nombre: </strong> {{prof.profile.nombre + " " + prof.profile.apellidos}}
                            </div>
                            <div class="col-2">
                                <label for="precio"><strong>Precio</strong></label><br>
                                
                                {{prof.profile.perfClase.ultPrecio}}
                            </div>
                            <div class="col-2">
                                <label >
                                        <strong>Elo: </strong>
                                </label>
                                {{prof.profile.perfClase.ultElo | number:'1.0-2'}}
                            </div>
                        </div>
                        
                        <div  class="row">    
                            <div class="col-6">
                                    <strong>Descripción: </strong>
                                    <br/>
                                    {{prof.profile.descripcion}}

                            </div>
                            <div class="col-6">
                                    <strong>Categorias: </strong>
                            
                                    <br/>
                                    <categorias [readOnly] ="true" (onSelect)="onSelectTag($event)" [array]="prof.profile.perfClase.categorias"></categorias>

                            </div>
                        </div>
                        
                        <div  class="row">
                            
                            <div class="col">
                                    <span  *ngIf="mostrarBotonLlamarNoLogueado()">
                                        <a data-toggle="modal" href="#singIn" role="button"  style="cursor: pointer">
                                            <i class="material-icons iconos sombra"  > 
                                                    call
                                            </i>

                                        </a>
                                            
                                    </span>
                                    <span  *ngIf="mostrarBotonLlamarLogueadoNoSuscrito()">
                                        <i class="material-icons iconos sombra" data-toggle="modal" (click)="clickBotonLlamarLogueadoNoSuscrito()" data-target="#m-confirm" style="cursor: pointer" > 
                                                call
                                        </i>
                                        
                                    </span>
                                    <span  *ngIf="mostrarBotonLlamarLogueadoSuscrito()">
                                        <i class="material-icons iconos sombra" data-toggle="modal" (click)="setModalConfig(prof)" data-target="#m-confirm" style="cursor: pointer" > 
                                                call
                                        </i>
                                        
                                    </span>
                            </div>

                        </div>

                      <!--
                          <a href="#" class="btn btn-primary">Go somewhere</a>

                      -->
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <div *ngIf="isEstadoCalling()">
            <h4>
                Llamando a profesor:
            </h4>
            <div class="row">

                        <div class="col-3">
                            <img class="foto-perfil" [src]="getUserCall().profile.foto" id="foto" alt="Foto perfil"  >

                        </div>

                        <div class="col-5">
                           <strong>Nombre: </strong> {{getUserCall().profile.nombre + " " + getUserCall().profile.apellidos}}
                        </div>
                        <div class="col-2">
                            <label for="precio"><strong>Precio</strong></label><br>
                            
                            {{getUserCall().profile.perfClase.ultPrecio}}
                        </div>
                        <div class="col-2">
                           <strong>Elo: </strong> {{getUserCall().profile.perfClase.ultElo | number:'1.0-2'}}
                        </div>
            </div>
            
            <div  class="row">
                
                <div class="col">
                        <categorias [readOnly] ="true"  [array]="getUserCall().profile.perfClase.categorias"></categorias>

                </div>
                
                    
                

            </div>
            <div class="row">
                <div class="col-sm">
                    <timeCounter [tipo]="temp.tipo" [secondsIni]="temp.secondsIni"  [mostrar]="temp.mostrar">

                    </timeCounter>
                </div>
                <div class="col-sm">
                    
                    <button class="btn btn-primary" (click)="cancelarCall()"> Cancelar llamada</button>
                </div>
            </div>
        </div>
        
        <div  *ngIf="isEstadoClass()">
            <div [hidden]="!isConnected()">

                <div class="row">
                   <h3 class="col-12">
                       Clase:   
                       
                       <span class="alert alert-danger float-right" *ngIf="estado.campos.ping>1">
                                    Conexión perdida, reintento ({{estado.campos.ping-1}})
                                </span>
                   </h3>
                </div>
                <videoCall  [clase]="clase"  [secondsIni]="secondsIniClass" [rtc]="rtc" >Video</videoCall>
               <!-- 
                   <div class="row">
                    <div class="col-sm">
                    </div>
                    
                </div>-->
                <div class="row">  
                        <div class="col-sm">
                            <button class="btn btn-primary" *ngIf="canColgar()" (click)="colgarCall()"> Colgar</button>
                        </div>
                </div>

            </div>

            <div *ngIf="!isConnected()" style="    text-align: center">
                <div  class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>
       </div>
        <div  *ngIf="false">
                
        </div>
</div>


  