@import '../../../../imports/scss/shared.scss';
.room-alumno i.material-icons.iconos:hover {
    margin-bottom: 0px !important;
    color: white;
    background: #49ffa4 !important;
}

.room-alumno i.material-icons.iconos{
    
    font-size: 6rem;
    color: #49ffa4;
    background: white;
    border-radius: 10%;
    border: 1px solid #49ffa4;
  
}

.room-alumno{
    padding: 25px;
    span.alert.alert-danger.float-right {
        font-size: 10pt;
    }
}

  .settings:hover{
    background-color: rgb(66, 66, 66);
  }

  .colgar {
    border: none;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .colgar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .colgar span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .colgar:hover span {
    padding-right: 25px;
  }
  
  .colgar:hover span:after {
    opacity: 1;
    right: 0;
  }