<div class="time-counter" *ngIf="isMostrar()">

    <div *ngIf="!isTipoCont()">
        <div id="myProgress">
            <div id="myBar"></div>
          </div>
    </div>

    <div *ngIf="isTipoCont()">
        <div class="row">
            <span class="col" *ngIf="tView.horas>0">{{tView.horas}} : </span>  
            <span class="col" *ngIf="tView.minutos>0">{{tView.minutos}} : </span> 
            <span class="col" *ngIf="tView.segundos>0">{{tView.segundos}}</span>
        </div>
    </div>

<div id="myProgress">
  <div id="myBar"></div>
</div>




</div>