@import '../../../imports/scss/shared.scss';




.row {
  margin-bottom: 1%;
}

.router-cont {
    margin-top: 60px;
}


.nav-cont{

margin-bottom: 100px;
}


.padding-pag
{
padding: 25px;
}
