@import '../../../../imports/scss/shared.scss';


.politica-cookies {

  h1 {

    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    color: #666666;
  }

}