@import '../../../../imports/scss/shared.scss';
video {
   
   
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
  }

  video#remoteId {
    max-width : 1920px;
    width: calc(75% - 100px);
    min-width: 200px;
}


.full-screen {



    .jaleo{
        z-index: 55; position: fixed !important;
        top: 0px;
    }
    timeCounter{
        left: 10px;
    top: 65px;
    z-index: 55;
    opacity: 0.5;
    }
    
    video#remoteId, .box-local-video, .box-full-screen,timeCounter {
        position: fixed !important;
    }
    video#remoteId {
        top: -14%;
        left: 0px;
        max-width: 100% !important;
        width: 100% !important;
        z-index: 50;
    }
    .box-local-video{
        bottom: 1%;
        left: 1%;
       
    }
    video#localId {
        max-width: 300px;
       
    }
    .box-full-screen
    {
        bottom: 1%;
        right: 50%;


        .barra-accion-fscreen{
            padding: 10px;
            background: #252525;
            border-radius: 5px;
            /* border: 1px solid white; */
            box-shadow: 0px 0px 8px 1px #1d1c1c;


            .material-icons {
                /* color: black!important; */
                font-size: 2rem;
            }

        }


        
    }
    .box-local-video, .box-full-screen {
        z-index: 55;
    }

    .material-icons{
        color: #ffffff;
    opacity: 0.9;
    }
}

  video#localId.no-video {
      
  }
  /*video#remoteId {

  }*/



  video#localId {
    max-width: 1920px;
    width: calc(20% - 100px);
    min-width: 200px;
  }


  .video-call
  {
    .msg-cont {
        border: 1px solid #b5afaf;
        padding: 10px;
        border-radius: 5px;
    }
   
    .msg-cont {
        box-shadow: 1px 1px 3px 0px #c3c1c1;
    }
    .caja * {
        font-size: 25pt;
    }
    .time-counter {
        margin-left: 1.5rem!important;
    }
        .material-icons{
            cursor: pointer;
        }

        .material-icons:hover{
            opacity: 0.8;
        }
        .msg-cont 
            {
                max-width: 80%;

                margin: 5px;
            }
            .msg-cont 
            {

                background: white;
              
            }
         .owner {
            .msg-cont 
            {

                background: #e0fdae;;
                margin-left: auto;
                text-align: right
            }

            span{
                text-align: right
            }
        }

        textarea {
            resize: none;
          margin-top: 0px;
          margin-bottom: 0px;
          height: 123px;
          width: 100%;
          min-height: 87px;
          max-height: 87px;
          border-radius: 5px;
          border-color: rgb(56, 240, 148);
          background: rgb(249, 242, 242);
        }

  }
