
<div class="container room-prof card">


        <div class="card-body">
            <h2 class="bd-title">
                Dar Clase <span style="float: right" *ngIf="clase.estadoText" class="alert alert-primary">{{clase.estadoText}} </span>
            </h2>
            <div *ngIf="!isInClass()">
    
                <span class="alert alert-info">No existe ninguna clase que dar</span>
            </div>
            <div  *ngIf="isInClass()">
    
                <form #claseForm="ngForm" [formGroup]="addForm"  >
      
                  <div class="row  mt-3">
                      <diV class="col">
                            <label for="url">Url video</label>
                            <input  formControlName="urlVideo" type="text" class="form-control" id="urlVideo" name="urlVideo" required placeholder="Url video" [(ngModel)]="clase.urlVideo">
                            
                      </diV>
                      <!--

                          <div *ngIf="clase.urlVideo" class="col">
        
                                                    <iframe id="ytplayer" type="text/html" width="720" height="405"
                            src="https://www.youtube-nocookie.com/embed/{{clase.urlVideo}}?autoplay=1&controls=0&disablekb=1&modestbranding=1&iv_load_policy=3"
                            frameborder="0" allowfullscreen>
                            </iframe>
                          </div>


                      -->
                    
                  </div>
                    
                  <div class="row  mt-3">
                      <div class="col">
                          <label for="titulo"><strong>Título: </strong> </label>
                          <span id="titulo">{{clase.titulo}}</span>
      
                      </div>
                      <div class="col">
                          <label for="peticion"><strong>Petición: </strong></label>
                          <span id="peticion">
                              {{clase.peticion}}
                          </span>
                           <!--<textarea formControlName="peticion" class="form-control" id="peticion" name="peticion" [disabled]="isInClass" required placeholder="Mi consulta es la siguiente..." [(ngModel)]="clase.peticion">
      
                          </textarea> 
                        
                             <input formControlName="apellidos" type="text" class="form-control" id="apellidos" name="apellidos" required placeholder="Apellidos" [(ngModel)]="clase.apellidos">
      
                         --> 
      
                      </div>
                    
                  </div>
                  
                  <div class="row  mt-3">
                      <div class="col">
      
                          <button [disabled]="!isValid()" (click)="comenzar()" *ngIf="!clase.comenzado" class="btn btn-primary">Empezar</button>
                      </div>
                  </div>
            </form>
    
            </div>
        </div>
    </div>