
<div class="room-prof padding-pag container" style="text-align: center">
        <div class="row">
            <div class="col-2">
    
            </div>
            <div class="col-8">

            
                <h1 class="bd-title  text-center">
                    Profesor - Clase
                </h1>

            <div *ngIf="isEstadoIni()">
                
                    <span class="alert alert-info">
                        Iniciando.
                    </span>
            </div>
            <div *ngIf="isEstadoPreClass()">
                
                    
                <div  class="text-muted text-center">
                    Página pre-clase.  Confirma el precio y comieza a ser visible para los alumnos.
                </div >

                <section>

                    <form #perfilForm="ngForm" [formGroup]="addForm" (ngSubmit)="save()">
                        <div >
                            
                            <div class="row">
                                <div class="col-6">
        
                                    <label for="categorias"><strong>Categorías</strong></label><br>
                                    <categorias id="categorias" [readOnly] ="true" [array]="perfClase.categorias"></categorias>       
                                   
                               
                                </div>
                                <div class="col-4">
                                    <label for="elo">
                                        
                                        <strong>Elo</strong>
                                    </label><br>
                                    <span id="elo">
                                            {{perfClase.ultElo | number:'1.0-2'}}
                                        
                                    </span>
                                    </div>
                                    
                                    <div class="col-2">
                                        <label for="precio"><strong>Precio</strong></label><br>
                                        <input id="precio"  formControlName="ultPrecio" type="number" class="form-control" id="ultPrecio" name="ultPrecio" required placeholder="Precio" [(ngModel)]="perfClase.ultPrecio">
        
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                        <button [disabled]="!isValid()" type="submit" class="btn btn-primary">empezar!</button>
                                    </div>
                                <div class="col-10">
        
                                </div>
                                
                            </div>
    
                        </div>
                    
                    </form>
                </section>
            </div>
            <div *ngIf="isEstadoWaitCall()">
                    <div class="text-muted text-center">
                           Esperando alumno.
                        </div >
                    <div class="row">
                            <div class="col-5">
    
                                <label for="categorias"><strong>Categorías</strong></label><br>
                                <categorias id="categorias" [readOnly] ="true" [array]="perfClase.categorias"></categorias>       
                               
                           
                            </div>
                            <div class="col-4">
                                <label for="elo">
                                    
                                    <strong>Elo</strong>
                                </label><br>
                                <span id="elo">
                                    {{perfClase.ultElo | number:'1.0-2'}}
                                    
                                </span>
                                </div>
                                
                                <div class="col-2">
                                    <label for="precio"><strong>Precio</strong></label><br>
                                    
                                    {{perfClase.ultPrecio}}
                                </div>
                                <div class="col-1">

                                        <a  class="close" (click)="cancelarEspera()"></a>
                                        
                                </div>
                        </div>
               
                <div class="row">
                    <span class="alert alert-info">No existe ninguna llamada para dar clase.</span>

                </div>

                    
                    
                </div>
                <div *ngIf="isEstadoWaitAcceptCall()">
                    <div class="row">
                        <div class="col">
                            <div class="text-muted text-center">
                                Tiene una llamada de clase:
    
                            </div >

                        </div>
                       
                        
                        
                    </div>
                    <div class="row">
                        <div class="col">
                                <img class="foto-perfil" [src]="getUserCall().profile.foto" id="foto" alt="Foto perfil" >
                        </div>
                        <div class="col">
                            <strong>Nombre:</strong>  {{getUserCall().profile.nombre + " " + getUserCall().profile.apellidos}}
                        </div>
                    </div>
                    <div class="row" *ngIf="false">
                            <div class="col">
                                <strong>
                                    Categoria: 
                                    
                                </strong>
                                Matemáticas Mock

                            </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            
                            <button class="btn btn-primary" (click)="botonAceptarCall()">Aceptar</button>
                        </div>
                        
                        <div class="col">
                            <timeCounter [tipo]="temp.tipo" [secondsIni]="temp.secondsIni"  [mostrar]="temp.mostrar">
        
                            </timeCounter>

                            </div>
                            
                    </div>
            </div>
            <div *ngIf="isEstadoWaitClass()">

                <div class="row">
                    <div class="col">
                        
                        <h3>
                                Esperando a una clase
                        </h3>
                    </div>

                </div>
                <div class="row">
                        <div class="col">
                            <timeCounter [tipo]="temp.tipo" [secondsIni]="temp.secondsIni"  [mostrar]="temp.mostrar">
                
                            </timeCounter>
                        </div>
                </div>

                
           </div>
           <div  *ngIf="isEstadoClass()">
                <div class="row">
                    <div class="col">
                        <h3>
                            En clase.
                            
                            <span class="alert alert-danger float-right" *ngIf="estado.campos.ping>1">
                                Conexión perdida, reintento ({{estado.campos.ping-1}})
                            </span>
                        </h3>

                    </div>
                </div>
                <videoCall  [clase]="clase" [secondsIni]="secondsIniClass" [rtc]="rtc" ></videoCall>
                
                
                
           </div>
            
            
        </div>
        <div class="col-2">
    
            </div>
    </div>