@import '../../../../imports/scss/shared.scss';
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .t-a-desc {

    max-height: 169px;
    height: 169px;
    min-height: 169px;
  }

 .email{

  background: #38f094;
    padding: 10px;
    border-radius: 5px;
    color: white;
 }