<div class="container perfil card">


    <div class="card-body">
        <h2 class="bd-title">
            Perfil
        </h2>
        <form #perfilForm="ngForm" [formGroup]="addForm" (ngSubmit)="save()">
                <div class="row" style="border-bottom: 1px solid #f5efef;">
                        <div class="col">
                            <div class="row">

                                <div class="col">
                                    <img class="foto-perfil"  [src]="perfil.foto" id="foto" alt="Foto perfil" height="200" width="auto">
     
                                </div>
                                
                            </div>
                            <div class="row">
                                    
                                    <div class="col">
                                        <fileInput [multiple]="false" (onSelectFile)="addFile($event)"></fileInput>        
                                        
         
                                     </div>
                                </div>
                        </div>
                        <div class="col">
                            <h4>Email: {{perfil.email}}</h4>
                            
                        </div>
                
                </div>

                <div class="row" >
                        <div class="col">
                           
                            
                                
                        </div>
                        <div class="col">
                           
                            
                        </div>
                
                </div>
                <div class="row  mt-3">
                    <div class="col">
                        <label for="nombre">Nombre</label>
                        <input  formControlName="nombre" type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre..." [(ngModel)]="perfil.nombre">

                    </div>
                    <div class="col">
                        <label for="apellidos">Apellidos</label>
                        <input formControlName="apellidos" type="text" class="form-control" id="apellidos" name="apellidos" required placeholder="Apellidos" [(ngModel)]="perfil.apellidos">

                    </div>
                  
                </div>
                <div class="row  mt-3">
                    <div class="col">
                        <div *ngIf="canReadC('prof')"> 
                            
                            <div class="card col">
                                <div class="card-body">
                                    <h5 class="card-title">!Eres profesor!</h5>
                                    
                                    <!-- <h6 class="card-subtitle mb-2 text-muted">¡Comienza a ser profesor con nosotros!</h6>
                                    <tag-input [placeholder]="Categorias" [ngModel]="['hardocoded-item']">
                                                <tag-input-dropdown
                                                  [autocompleteItems]="items"
                                                  [showDropdownIfEmpty]="true"
                                                  [dynamicUpdate]="false"
                                                  
                                                >
                                                </tag-input-dropdown>
                                              </tag-input>
                                              <label for="nombre">Categorias*</label>
                                              <input  formControlName="nombre" type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre..." [(ngModel)]="perfil.nombre">
                                                -->
                                  
                                         <categorias [config]="configTags"></categorias>       
                                        <p class="card-text text-muted"> * Para que puedas ser categorizado de alguna forma debes introducir las etiquetas categoricen tus caracteristicas de conocimiento</p>
                                   
                                     <!-- <button type="button" (click)="setModalConfig()" class="btn btn-outline-dark">¡Comenzar!</button>
                                       <a href="#" class="card-link">Card link</a>
                                      <a href="#" class="card-link">Another link</a>  --> 
                                    </div>
                                  </div>
                        </div>
                        <div *ngIf="!canReadC('prof')">
                            
                            <div class="card col">
                                    <div class="card-body">
                                      <h5 class="card-title">¿Quieres ser profesor?</h5>
                                     
                                         <h6 class="card-subtitle mb-2 text-muted">¡Comienza a ser profesor con nosotros!</h6>

                                   
                                      <p class="card-text"> ¿Quieres empezar a participar como profesor y ganar dinero con ello?</p>
                                      <button type="button" (click)="setModalConfig()" class="btn btn-outline-dark">¡Comenzar!</button>
                                      <!-- <a href="#" class="card-link">Card link</a>
                                      <a href="#" class="card-link">Another link</a>  --> 
                                    </div>
                                  </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="descripcion">Descripción</label>
                        <textarea  formControlName="descripcion" class="form-control t-a-desc" id="descripcion" name="descripcion" placeholder="Soy profesor de ..." [(ngModel)]="perfil.descripcion"></textarea>
                    </div>
                  
                </div>
                <div class="row  mt-3">
                    <div class="col">

                        <button [disabled]="!isValid()" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
          </form>

    </div>
</div>