.gb_ab {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}


.dropdown-toggle::after {
   
    float: right;
}

nav.navbar {
    box-shadow: 0px 1px 1px 1px #ada9a9;
}

// login styles
.btn-google {
    color: black;
    background-color: white;
    border-color: black;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  
  .icon-google{
      width: 21.44px;
      height: 20px;
  }

  .boton-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.small-title{
    font-size: 14px;
}