@import '../../../../imports/scss/shared.scss';
/*.gb_ab {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}*/


.dropdown-toggle::after {
   
    float: right;
}

nav.navbar {
    //box-shadow: 0px 1px 1px 1px #ada9a9;
    box-shadow: 0px 1px 4px 1px #efecec;
}

// login styles

.btn-inicio-sesion{
    background-color: #37F093;
    border: #37F093;
}

.btn-inicio-sesion-modal{
    background-color: white;
    color: #37F093;
    font-weight: 100;
}

.btn-google {
    color: black;
    background-color: white;
    border-color: black;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  
  .icon-google{
      width: 21.44px;
      height: 20px;
  }

  .boton-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.small-title{
    color: rgb(110, 110, 110);
    font-size: 14px;
}

