
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/inicio">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item" *ngIf="canReadC('peticion')">
          <a class="nav-link"  routerLink="/room/alumno">Ir a Clase</a>
        </li>
        <li class="nav-item" *ngIf="canReadC('clase')">
            <a class="nav-link"  routerLink="/room/prof">Atender Clases</a>
          </li>
        <li class="nav-item" *ngIf="canReadC('login')">
            <a class="nav-link" style="cursor: pointer" (click)="mostrarLoginAc(true)">Login</a>
        </li>
        <li class="nav-item" *ngIf="canReadC('suscripcion')">
            <a class="nav-link" href="#">Suscripción</a>
        </li>
        <li class="nav-item dropdown" style="float: right" *ngIf="canReadC('opciones')">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div>
              <span class="gb_ab gbii mr-sm-2" style="float: left" [ngStyle]="getUrlFoto()">

              </span>
              <span style="float: left">
                {{getNombre()}}

              </span>

            </div>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/opciones/perfil">Perfil</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" *ngIf="canReadC('suscripcion')">Suscripción</a>
            <a class="dropdown-item" href="#" *ngIf="canReadC('facturacion')" >Facturación</a>
            <div class="dropdown-divider " *ngIf="canReadC('admin')"></div>
            <a class="dropdown-item" href="#" *ngIf="canReadC('admin')">Administración</a>
            <div class="dropdown-divider " *ngIf="canReadC('admin')"></div>
            <a class="dropdown-item" href="#"  (click)="logout()" *ngIf="!canReadC('login')">Cerrar sesión</a>
          </div>
        </li>
  
      </ul>
      <!--
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>


      -->
      
    </div>
    
  </nav>
  <login [mostrar] = "mostrarLogin" (cambio)="mostrarLoginAc($event)" >
    
    </login>
   <!--

     <login-buttons [hidden]="true"></login-buttons>
   --> 