td.strong
{
    font-weight: bold;
}

td.red-text {
    color: red;
}
td.red-text::before {
    content: "-";
}

td.green-text {
    color: green;
}

td.green-text::before {
    content: "+";
}



.tag span {
    
    padding : 10px;
    border : 1px solid #dfdfdf;
    border-bottom : 0.2px !important;
    
}
.tag span {
    cursor:pointer;
}
.tag span.selected {
    background: #f8f9fa;
    color: #38f094;
    font-weight: bold;
    border-bottom: 0px;
    
}
.tag span.first  {

    border-top-left-radius: 5px;
    //border-bottom-left-radius: 5px;
    border-right:0px
}
.tag span.center  {
}
.tag span.last {
    border-left:0px;
    border-top-right-radius: 5px;
    //border-bottom-right-radius: 5px;
}

.reports {

    thead tr {
        background: #f8f9fa;
        color: #38f094;
    }
    table {

        border-collapse: collapse;
        border: 1px solid #dfdfdf;
    }
}