<div class="starView" *ngIf="_score>0">
	<div [title]="_score | number:'1.0-2'" >
				<span *ngFor="let ampScore of enteras; let first = first; let last = last" style="color: #ffaf38;" [ngStyle]="last ? estrella : {}" 
											class="fa fa-star">
				</span>
				        	
			<span *ngFor="let ampScore of vacias; let first = first; let last = last" [ngStyle]="first ? styleSVacia() : {}" style="color: #ffaf38;" 
			class="fa fa-star-o first-empty" [ngClass]="{'first-empty' : first}">
				        					</span>		
	</div>
</div>
<span *ngIf="_score===0">
	-
</span>