<div class="file-input">
        
        <div class="">
            
            <button [disabled]="loading" type="button" (click)="openFileSelector()" class="btn btn-outline-dark attach">
                
                <i *ngIf="!loading" class="material-icons">
                attach_file
            </i>
            
                <div *ngIf="loading" class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
                </button>
            
           <!--
               <input *ngIf="!multiple" style="display: none"  [disabled]="loading" type="file"  (change)="onFileChange($event)" #fileInput>

           --> 
            <input style="display: none" [multiple]="multiple" [disabled]="loading" type="file"  (change)="onFileChange($event)" #fileInput>
        </div>
   </div> 
