<div class="file-input">
        
        <div class="">
            
            <button [disabled]="loading" type="button" (click)="openFileSelector()" class="btn attach" style="    color: #fff;
            background-color: #343a40;
            border-color: #343a40;">
                
                <i *ngIf="!loading" class="material-icons " style="font-size: 2rem;">
                attach_file
            </i>
            
                <div *ngIf="loading" class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
                </button>
            
           <!--
               <input *ngIf="!multiple" style="display: none"  [disabled]="loading" type="file"  (change)="onFileChange($event)" #fileInput>

           --> 
            <input style="display: none" [multiple]="multiple" [disabled]="loading" type="file"  (change)="onFileChange($event)" #fileInput>
        </div>
   </div> 
