<script>
    $(function () {
        var currentHash = "#one"
        $(document).scroll(function () {
            $('.hash').each(function () {
                var top = window.pageYOffset;
                var distance = top - $(this).offset().top;
                var hash = $(this).attr('href');
    
                if (distance < 30 && distance > -30 && currentHash != hash) {
                    alert(hash);
                    currentHash = hash;
                }
            });
        });
    });
</script>
<a name="inicio"></a>
<section name="inicio" class="imagen-inicio img-fluid p-3">
    <div class="container">
        <div class="container pt-2">
            <div class="row">
                <div class="col">
                    <div class="text-center pt-5">
                        <div class="alert alert-success">
                            <h4 class="alert-heading">
                                ¡Lanzamos Sapens en fase alfa!
                            </h4>
                            <span>
                                Profesores y alumnos. Estamos muy contentos de compartir con vosotros el lanzamiento de Sapens. El proyecto se encuentra aún en fase alfa, por lo que, pedimos disculpas por cualquier inconveniente 
                                técnico que se produzca en la plataforma. 
                                <hr> 
                                Si tenéis alguna sugerencia, nos encantaría poder escucharos <a href="#modalSugerencias" style="color: #155724;" data-toggle="modal"><b>aquí</b></a>
                            </span>
                        </div>
                        <h1 class="letra-titulo tamaño-titulo-big" style="margin-top:10%">Consigue mejores notas</h1>
                        <h3 class="letra-titulo">Selecciona ahora tu profesor <b>online.</b> ¡Al instante!</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-4">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="center-block" style="text-align: center">
                        <!--span style="color: white!important" class="card-text text-muted">
                             ¿Con qué materia necesitas ayuda? (Ej. Álgebra, Cálculo, Química...)
                        </span>
                        <br class="mt-1"-->
                        <div class="input-group">
                                <categorias style="background: white;
                                width: 90%;"   [config]="configTags"></categorias>  
                            <!-- 
                                ¿Con qué materia necesitas ayuda? (Ej. Álgebra, Cálculo, Química...)
                                <input type="search" class="form-control" style="height: 50px" placeholder="¿Con qué materia necesitas ayuda? (Ej. Álgebra, Cálculo, Química...)">
                            -->
                            <span class="input-group-btn">
                               <a [routerLink]="['/room/alumno/', configTags.listCat.join(',')]">
                                <button type="button" class="btn btn-primary ml-1" style="height: 100%; background-color: #37F093; border: #37F093">Buscar</button>
                                 </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a name="como-funciona"></a>
<br class="mt-5">
<br class="mt-5">
<br class="mt-2">
<div class="container">
    <div class="pt-5">
        <div class="text-center">
            <h3 class="section2-title">¿Cómo funciona Sapens?</h3> 
            <div class="section2-text">
                Si tienes alguna duda sobre las materias que estás estudiando,
                o simplemente sientes curiosidad por saber algo más,
                regístrate, busca tu profesor ideal y él te ayudará.
            </div>   
        </div>
        <div class="row pt-4">
            <div class="col-md-4">
                <div class="text-center">
                    <img class="d-block" src="/images/2.png" style="margin: auto; width: 99%; margin-bottom: 10%" alt="First slide">
                    <h5 class="section2-subtitle">Consulta</h5>
                    <div class="section2-text" style="margin-bottom: 10%;">Simplemente escríbenos sobre qué trata tu consulta (Matemáticas, Física, Química...)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="d-block" src="/images/1.png" style="margin: auto; width: 103%; margin-bottom: 10%" alt="First slide">
                    <h5 class="section2-subtitle">Elección</h5>
                    <div class="section2-text" style="margin-bottom: 10%;">Selecciona al profesor que quieres que resuelva tu consulta</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <img class="d-block" src="/images/4.png" style="margin: auto; width: 103%; margin-bottom: 10%" alt="First slide">
                    <h5 class="section2-subtitle">Clase</h5>
                    <div class="section2-text" style="margin-bottom: 10%;">Resuelve tu duda online, con los recursos que necesites</div>
                </div>
            </div>
            <!--div class="col-md-3">
                <div class="text-center">
                    <img class="d-block" src="/images/3.png" style="margin: auto; width: 102%; margin-bottom: 10%" alt="First slide">
                    <h5 class="section2-subtitle">Valoración</h5>
                    <div class="section2-text" style="margin-bottom: 10%;">¡El profesor y Sapens te agradeceremos que nos des tu opinión!</div>
                </div>
            </div-->
        </div>     
    </div>

    <a name="asignaturas"></a>
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-2">
    <div class="pt-5">
        <div class="text-center">
            <h3 class="section2-title">¿Qué <b>asignaturas</b> podrás consultar?</h3>   
        </div>
        <div class="row pt-5">
            <div class="col-md-6">
                <div class="text-center">
                    <img class="d-block" src="/images/asignaturas.png" style="margin: auto; width: 100%; margin-bottom: 10%">
                </div>
            </div>
            <div class="col-md-6">
                <div class="section2-text" style="margin-bottom: 5%; text-align:justify">
                    Encontrarás ayuda personalizada en asignaturas como <b>matemáticas, física, química, programación</b>...
                    Nuestro objetivo es que un profesor pueda ayudarte en cualquier ámbito del conocimiento a un precio 
                    completamente accesible.
                </div>
                <div class="section2-text" style="margin-bottom: 5%; text-align:justify">
                    <!--u style="color: red;">
                        Actualmente nos encontramos en una fase alfa como plataforma, por lo que es posible que tanto la plataforma
                        como la oferta de asignaturas ofrecida sea inestable. 
                    </u--> 
                </div>                  
            </div>
        </div>
    </div>
    <a name="precios"></a>
    <br class="mt-5">
    <br class="mt-5">
    <br class="mt-2">
    <div class="pt-5" style="position: relative;">
        <div class="text-center">
            <h3 class="section2-title">Precios</h3>
            <div class="section2-text" style="margin-bottom: 5%;">
                Elige la oferta que más se adapte a tus necesidades y... ¡ahorra en tiempo!
            </div>    
        </div>
        <div class="alert alert-success text-center">
            <span>
                Debido a la situación actual con el COVID-19, nuestro servicio será <strong>gratuito</strong> durante el tiempo que dure el confinamiento. Porque lo primero eres tú.
            </span>
        </div>
        <div class="capa-gris" style="position: absolute;
        width: 100%;
        height: 67%;
        background: black;
        opacity: 0.3;
        z-index: 1001;">

        </div>
        <table>
            <colgroup></colgroup>
            <colgroup></colgroup>
            <colgroup></colgroup>
    
            <thead>
                <tr>
                    <!--th>&nbsp;</th-->
                    <th>
                        <h2>1 hora</h2>
                        <p>Mensual</p>
                        <p>Desde 0,5€/minuto facturado mensualmente</p>
                    </th>
                    <th>
                        <h2>5 horas</h2>
                        <p>Mensual</p>
                        <p>Desde 0,2€/minuto facturado mensualmente</p>
                        <p class="promo">¡Recomendado!</p>
                    </th>
                    <th>
                        <h2 style="font-size: 7rem;">&infin;</h2>
                        <p>¡Paga el tiempo que necesites!</p>
                        <p>Desde 1€/minuto</p>
                    </th>
                </tr>
            </thead>
    
            <tfoot>
                <tr>
                    <!--th>&nbsp;</th-->
                    <td><a href="#">Quiero esta oferta</a></td>
                    <td><a href="#">Quiero esta oferta</a></td>
                    <td><a href="#">¡Pruébalo gratis!</a></td>
                </tr>
            </tfoot>
    
            <tbody>
                <tr>
                    <td>&#9989; Recibe ayuda en tu consulta 24/7</td>
                    <td>&#9989; Recibe ayuda en tu consulta 24/7</td>
                    <td>&#9989; Recibe ayuda en tu consulta 24/7</td>
                </tr>
                <tr>
                    <td>&#9989; ¡Ahorra hasta 30€!</td>
                    <td>&#9989; ¡Ahorra hasta 30€!</td>
                    <td>&#9989; ¡Sin suscripción!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 col-md-12 text-footer" style="margin-top: 5%;">
                <h4 style="color: white;">Conócenos</h4>
                <ul class="list-unstyled">
                    <li *ngIf="false"><a href="#">¿Quiénes somos?</a></li>
                    <li><a href="#modalSugerencias" data-toggle="modal">¿Tienes sugerencias?</a></li>
                    <li><a id="linkPrivacidad" href="#modalPrivacidad" data-toggle="modal">Política de privacidad</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12 text-footer" style="margin-top: 5%;">
                <h4 style="color: white;">Aprende con nosotros</h4>
                <ul class="list-unstyled">
                    <li class="nav-item" *ngIf="false &&  canReadC('none')">
                        <a routerLink="/inicio" fragment="asignaturas">Asignaturas</a>
                    </li>                    
                    <li *ngIf="false"><a href="#">FAQ</a></li>
                    <li><a  routerLink="/politica-de-cookies">Política de cookies</a></li>
                </ul>
            </div>
        </div>
        <hr class="text-center" style="background-color: white; width:80%"/>
        <div class="row text-center text-footer">
            <div class="col-md-12">
                <a href="https://www.facebook.com/sapens.sapens.92"><i class="fa fa-facebook-official" style="font-size: 35px; color:white">&nbsp;</i></a>
                <a href="https://www.instagram.com/sapensapens/?hl=es"><i class="fa fa-instagram" style="font-size:35px;color:white">&nbsp;</i></a>
                <i class="fa fa-twitter" style="font-size:35px;color:white">&nbsp;</i>
            </div>
            <!--div class="col-md-4 title-footer">
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-facebook-official" style="font-size: 35px; color:white"></i>
                    </li>
                    <li>
                        <i class="fa fa-instagram" style="font-size:35px;color:white"></i>
                    </li>
                    <li>
                        <i class="fa fa-twitter" style="font-size:35px;color:white"></i>
                    </li>
                </ul>
            </div-->
        </div>
        <div class="row text-center text-footer">
            <div class="col-md-12">info@sapens.es</div>
        </div>
    </div>
</footer>


<div id="modalPrivacidad" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="singInLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <embed src="/Política de privacidad.pdf" type="application/pdf" width="100%" height="600vh"/>
          </div>
          <div class="modal-footer">
          </div>
      </div>
    </div>
</div>

<div id="modalSugerencias" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="singInLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
            <h3>
                Estamos encantados de escucharte
            </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <!--<form  #claseForm2="ngForm" [formGroup]="addForm2">-->
                <label for="exampleFormControlTextarea1">Cuéntanos aquí si tienes alguna sugerencia o has experimentado alguna incidencia con Sapens. ¡Tu opinión significa mucho para nosotros!</label>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="textSugerencia"></textarea>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6Lcjd30UAAAAAIWm....."></div>
                </div>
            <!--</form>          -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-dismiss="modal">Cancelar</button>
            <button type="button" [disabled]="!canSendSugerencia()" (click)="enviarSugerencia()" data-dismiss="modal" class="btn btn-success">Enviar</button>
        </div>
      </div>
    </div>
</div>



