/* {
    font-family: Roboto;
}*/
@import '../../../../imports/scss/shared.scss';

.dropdown-toggle::after {
   
    float: right;
}

nav.navbar {
    //box-shadow: 0px 1px 1px 1px #ada9a9;
}

// login styles

.btn-inicio-sesion{
    background-color: #37F093;
    border: #37F093;
}

.btn-inicio-sesion-modal{
    background-color: white;
    color: #37F093;
    font-weight: 100;
}

.btn-google {
    color: black;
    background-color: white;
    border-color: black;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  
  .icon-google{
      width: 21.44px;
      height: 20px;
  }

  .boton-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.small-title{
    color: rgb(110, 110, 110);
    font-size: 14px;
}

// login end


.letra-titulo{
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.tamaño-titulo-big{
    font-size: 500%;
    -webkit-font-smoothing: antialiased;
    color: white;
}

section{
    margin: 0;
    padding: 0;
}

.imagen-inicio{
    background: url(/images/imagen-inicio.png) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
    text-align: center;
}

h1 h3{
    position: relative;
}

.section2, .section2-title, .section2-subtitle{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2E2E2E;
}

.section2-title{
    font-size: 2.5rem;
}

.section2-subtitle{
    font-size: 2rem;
    margin-top: -15%;
}

.imagenes-uso{
    width: 200%;
    position: relative;
}

.imagen-1{background-image: url(/images/2.png);}
.imagen-2{background-image: url(/images/1.png);}
.imagen-3{background-image: url(/images/3.png);}
.imagen-4{background-image: url(/images/4.png);}

